.main {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../public/banner.svg") center center/cover no-repeat;

    .nav {
        padding: 1em;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1em;

        .branding-logo {
            width: 50px;
            height: 50px;
            background: url("../../public/icon.png") center center/cover no-repeat;
        }

        .brand {
            font-size: 45px;
            font-weight: 700;
        }

        .white-text {
            color: #ffffff;
        }

        .gradient-text {
            font-weight: 700;
            font-size: 48px;
            background: linear-gradient(135deg, #1EC9FF, #1B7CFF, #2EE6A6);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .content {
        padding: 1em;
        width: 100%;

        .banner-heading {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            text-align: center;
            width: 100%;
            padding: 1em;
            z-index: 10;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5em;

            .banner-heading-text {
                color: #fff;
                font-family: Poppins, sans-serif;
                font-size: 40px;
                font-weight: 500;
            }

            .banner-heading-sub-text {
                color: #fff;
                font-family: Poppins, sans-serif;
                font-size: 24px;
                font-weight: 400;
            }

            .get-in-touch-btn {
                background-color: #ff6b6b;
                /* coral/red shade */
                color: #ffffff;
                border: none;
                padding: 18px 48px;
                margin-top: 1em;

                font-family: Arial, sans-serif;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 4px;

                border-radius: 10px;
                cursor: pointer;

                transition: all 0.3s ease;
            }

            /* Hover effect (optional but nice) */
            .get-in-touch-btn:hover {
                background-color: #ff5252;
                transform: translateY(-2px);
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
            }

        }
    }
}